<?xml version="1.0"?>
<config>
	<modules>
		<Telecom_SMSNotifier>
			<version>0.0.1</version>
		</Telecom_SMSNotifier>
	</modules>
	<admin>
        <routers>
            <smsnotify>
                <use>admin</use>
                <args>
                    <module>Telecom_SMSNotifier</module>
                    <frontName>smsnotify</frontName>
                </args>
            </smsnotify>
        </routers>
    </admin>
	<global>
		<blocks>
			<smsnotify>
				<class>Telecom_SMSNotifier_Block</class>
			</smsnotify>
		</blocks>
		<helpers>
			<smsnotify>
                <class>Telecom_SMSNotifier_Helper</class>
            </smsnotify>
		</helpers>
		<models>
			<smsnotify>
                <class>Telecom_SMSNotifier_Model</class>
            </smsnotify>
		</models>
		<events>
            <model_save_before>
                <observers>
                    <smsnotify>
                        <class>smsnotify/observer</class>
                        <method>beforeSaveAbstract</method>
                    </smsnotify>
                </observers>
            </model_save_before>
            <model_save_after>
                <observers>
                    <smsnotify>
                        <class>smsnotify/observer</class>
                        <method>afterSaveAbstract</method>
                    </smsnotify>
                </observers>
            </model_save_after>
            <smsnotifier_error>
                <observers>
                    <smsnotify>
                        <class>smsnotify/sms_observer</class>
                        <type>singleton</type>
                        <method>onError</method>  
                    </smsnotify>
                </observers>
            </smsnotifier_error>
            <smsnotifier_before_sending>
                <observers>
                    <smsnotify>
                        <class>smsnotify/sms_observer</class>
                        <type>singleton</type>
                        <method>beforeSending</method>  
                    </smsnotify>
                </observers>
            </smsnotifier_before_sending>
            <smsnotifier_after_sending>
                <observers>
                    <smsnotify>
                        <class>smsnotify/sms_observer</class>
                        <type>singleton</type>
                        <method>afterSending</method>  
                    </smsnotify>
                </observers>
            </smsnotifier_after_sending>
        </events>
	</global>
	<adminhtml>
        <layout>
            <updates>
                <smsnotify>
                    <file>smsnotify.xml</file>
                </smsnotify>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <smsnotify translate="title" module="smsnotify">
                                    <title>SMS Notifier</title>
                                    <children>
                                        <send translate="title" module="smsnotify">
                                            <title>Sending SMS</title>   
                                        </send>
                                    </children>
                                </smsnotify>
                                <config>
                                    <children>
                                        <smsnotify translate="title" module="smsnotify">
                                            <title>SMS Notifier</title>
                                        </smsnotify>
                                    </children>
                                </config>   
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
	   <smsnotify>
	       <credentials>
	           <gateway>Telecom</gateway>
	       </credentials>
	       <general>
	           <unicode>0</unicode>
	           <min_length_with_prefix>9</min_length_with_prefix>
	           <used_addresses>billing</used_addresses>
	           <trim_zero>0</trim_zero>
	           <log>0</log>
	       </general>
	       <country_filter>
	           <type>everywhere</type>
	       </country_filter>
	       <new_order>
	           <enabled>0</enabled>
	           <to_customer>1</to_customer>
	           <to_admin>1</to_admin>
	           <text></text>
	       </new_order>
	       <new_invoice>
               <enabled>0</enabled>
               <to_customer>1</to_customer>
               <to_admin>1</to_admin>
               <text></text>
           </new_invoice>
           <new_shipment>
               <enabled>0</enabled>
               <to_customer>1</to_customer>
               <to_admin>1</to_admin>
               <text></text>
           </new_shipment>
	   </smsnotify>
	</default>
</config>